{% extends 'core/base.html' %}

{% block content %}
    <h1>Log In</h1>
    <p>Please fill out the form below to create an account:</p>
    <div style="text-align: left;">
        <form method="post">
            {% csrf_token %}
            
            {{ form.non_field_errors }}

            <div class="mb-3">
                <label class="inline-block mb-2">Username</label><br>
                {{ form.username }}<br>
                {{ form.username.errors }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Password</label><br>
                {{ form.password }}<br>
                {{ form.password.errors }}
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    Please correct the errors above.
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary mb-3">Sign in</button>
        </form>
    </div>
    
{% endblock %}