body {
    background-color: #f8f9fa;
}
header {
    background-color: #007bff;
    color: #ffffff;
}
nav ul {
    padding-left: 0;
}
nav li {
    list-style: none;
    display: inline;
}
nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}