{% extends 'core/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Dashboard</h1>
        <p class="text-secondary">My items</p>
        <div class="row">
            {% for i in items %}
                <div class="col-md-4 mb-4">
                    <a href="{% url 'item:detail' i.id %}">
                        <div class="card">
                            {% if i.image %}
                            <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.name }}" style="max-height: 400px; object-fit: cover;">
                            {% else %}
                            <p>No image</p>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ i.name }}</h5>
                                <p class="card-text">{{ i.description }}</p>
                                <p class="text-primary">{{ i.price }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}