{% extends 'core/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                {% if item.image %}
                    <img src="{{ item.image.url }}" class="img-fluid" alt="{{ item.name }}" style="max-width: 400px; max-height: 400px;">
                {% else %}
                    <p>No image</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h1>{{ item.name }}</h1>
                <p>{{ item.description }}</p>
                <p class="text-primary">{{ item.price }}</p>
                {% if item.created_by == request.user %}
                    <a href="{% url 'item:edit' item.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'item:delete' item.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>Similar items</h1>
                {% for i in related_items %}
                    <div class="card" style="width: 18rem; display: inline-block;">
                        {% if i.image %}
                            <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.name }}">
                        {% else %}
                            <p>No image</p>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p class="card-text">{{ i.description }}</p>
                            <a href="{% url 'item:detail' i.id %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}