{% extends 'core/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="{{ query }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>

            </form>
        </div>
        <hr class="mb-4">

        <p>Categories</p>
        <div class="my-5">
            {% for category in categories %}
            <a href="{% url 'item:category' category.id %}" class="btn btn-primary">{{ category.name }}</a>
            {% endfor %}
        </div>

        <div class="row">
            {% for item in items %}
                <div class="col-md-4 mb-4">
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="card">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}" style="max-height: 400px; object-fit: cover;">
                            {% else %}
                                <p>No image</p>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                                <p class="text-primary">{{ item.price }}</p>

                                {% if item.created_by == request.user %}
                                    <a href="{% url 'item:edit' item.id %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'item:delete' item.id %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}